<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.picpay.contact"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".ContactActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="ContactFeature.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>